{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "common.html" as common %}

{% block styles %}
{{super()}}
<style>
</style>
{% endblock %}

{% block content %}

<div class="container">

	{% include "yacos.html" %}

	{{ common.messagebox() }}
	
	<div class="row">

		<div class="col-md-7 border-thin-gray new-template-upload">
			<p class="lead">{{ _('Add new template') }}</p>

			<form action="{{ url_for('template.upload') }}" method="post" class="form form-inline" enctype="multipart/form-data" role="form">
				{{ form.hidden_tag() }}
				{{ wtf.form_field(form.name) }}

				<label class="btn btn-default btn-file">
				    {{ _('Browse') }} {{ wtf.form_field(form.template, **{'style':'display: none;'}) }}
				</label>

				{{ wtf.form_field(form.submit, button_map={'submit':'primary'}) }}

			</form>
		</div>

	</div>


	<div class="row"><div class="col-md-12">&nbsp;</div></div>

	<div class="row">
	
		<div class="col-md-7">

			{% for template in templates %}
				{% set template_envs = [] %}
				{% for v in template.variable_set %}
					{% set dummy = template_envs.append(v.env.name) %}
				{% endfor %}

			<div class="row">
				<div class="col-md-12 template-list-item">
					<p class="lead">{{ template.name }}</p>

					{% for e in envs %}
						{% set found = ['progress-bar-danger'] %}
						{% if e.name in template_envs %}
							{% set dummy = found.pop() %}
							{% set dummy = found.append('progress-bar-success') %}
						{% endif %}
					<a href="{{ url_for('varsenv.edit',tid=template.id, eid=e.id) }}">
						<span class="badge {{found[0]}} env-popup" 
							  data-title="{{_('Fill in variables for') }} {{e.name}}">{{e.name}}</span></a>
					{% endfor %}

					<p>{{ template.body | truncate(100) | safe }}
					<span class="pull-right">
						<a href="{{ url_for('template.download', tid=template.id) }}">
							<span class="glyphicon glyphicon-download"></span></a>
						&nbsp;
						<a href="{{ url_for('template.delete', tid=template.id) }}">
							<span class="glyphicon glyphicon-trash"></span></a>
					</span></p>
				</div>
			</div>
			{% endfor %}

		</div>

		{% include "global-variables-list.html" with context %}

	</div> <!-- /.row -->

</div> <!-- /.container -->

{# https://vuejs.org/v2/guide/list.html#Basic-Usage #}

{% endblock %}

{% block scripts %}
{{super()}}

<script>
$(document).ready( function() {
	
	$(".glyphicon-pencil").tooltip({
		title: '{{ _("Edit template") }}',
	});

	$(".glyphicon-download").tooltip({
		title: '{{ _("Download config template") }}',
	});

	$(".glyphicon-trash").tooltip({
		title: '{{ _("Delete template") }}',
	});

	$(".env-popup").tooltip({});

});
</script>
{% endblock %}


