{% extends "base.html" %}

{% block styles %}
{{super()}}
<style>
</style>
{% endblock %}

{% block content %}

<div class="container">

	<div class="row">
		<h1>YACOS</h1>
		<p class="lead">(Yet Another Configuration Server)</p>
	</div>

	<div class="row">
	
		<div class="col-md-7">

			{% for template in templates %}
				{% set template_envs = [] %}
				{% for v in template.variable_set %}
					{% set dummy = template_envs.append(v.env.name) %}
				{% endfor %}

			<div class="row">
				<div class="col-md-12 template-list-item">
					<p class="lead">{{ template.name }}</p>

					{% for e in envs %}
						{% set found = ['progress-bar-danger'] %}
						{% if e.name in template_envs %}
							{% set dummy = found.pop() %}
							{% set dummy = found.append('progress-bar-success') %}
						{% endif %}
					<a href="#">
						<span class="badge {{found[0]}} env-popup" 
							  data-title="{{_('Fill in variables for') }} {{e.name}}">{{e.name}}</span></a>
					{% endfor %}

					<p>{{ template.body | truncate(100) | safe }}
					<span class="pull-right">
						<span class="glyphicon glyphicon-download"></span>
						&nbsp;
						<span class="glyphicon glyphicon-trash"></span>
					</span></p>
				</div>
			</div>
			{% endfor %}

		</div>

		{% include "global-variables-list.html" with context %}

	</div> <!-- /.row -->

</div> <!-- /.container -->

{# https://vuejs.org/v2/guide/list.html#Basic-Usage #}

{% endblock %}

{% block scripts %}
{{super()}}

<script>
$(document).ready( function() {
	
	$(".glyphicon-pencil").tooltip({
		title: '{{ _("Edit template") }}',
	});

	$(".glyphicon-download").tooltip({
		title: '{{ _("Download config template") }}',
	});

	$(".glyphicon-trash").tooltip({
		title: '{{ _("Delete template") }}',
	});

	$(".env-popup").tooltip({});

});
</script>
{% endblock %}


