{% extends "base.html" %}

{% block styles %}
{{super()}}
<style>
</style>
{% endblock %}

{% block content %}

<div class="container">

	<div class="row">
		<h1>Welcome to Marquee Ramone</h1>
		<p class="lead">A sample marquee for last minute notices</p>
	</div>

	{% for template in templates %}
	{% set template_envs = [] %}
	{% for v in template.variable_set %}
		{% if template_envs.append(v.env.name) %}{%endif%}
	{% endfor %}


	<div class="row">
		<div class="col-md-6 template-list-item">
			<p class="lead">{{ template.name }}</p>
			
			{% for e in envs %}
				{% if e in template_envs %}
					{% set found = 'progress-bar-success' %}
				{% else %}
					{% set found = 'progress-bar-danger' %}
				{% endif %}
				{{found}}
			<span class="badge {{found}}">{{e.name}}</span>

			<p>{{ template.body | truncate(100) | safe }}
			<span class="pull-right">
				<span class="glyphicon glyphicon-pencil"></span>
				<span class="glyphicon glyphicon-download"></span>
				<span class="glyphicon glyphicon-trash"></span>
			</span></p>
		</div>
	</div>
	{% endfor %}


</div> <!-- /.container -->

{# https://vuejs.org/v2/guide/list.html#Basic-Usage #}

{% endblock %}

{% block scripts %}
{{super()}}

<script>
$(document).ready( function() {
	
	$(".glyphicon-pencil").tooltip({
		title: '{{ _("Edit template") }}',
	});

	$(".glyphicon-download").tooltip({
		title: '{{ _("Download config template") }}',
	});

	$(".glyphicon-trash").tooltip({
		title: '{{ _("Delete template") }}',
	});

});
</script>
{% endblock %}


