{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "common.html" as common %}

{% block styles %}
{{super()}}
<style>
</style>
{% endblock %}

{% block content %}

<div class="container">

	{% include "yacos.html" %}

	{{ common.messagebox() }}

	<div class="row">

		<div class="col-md-7 variables-title">
			Variable values for <span class="badge progress-bar-success">{{ environment.name }}</span> environment
		<hr>
		</div>


	</div>


	<div class="row">
	
		<div class="col-md-7">

{#			<pre>
{% for var_name, var_value in variables_d.iteritems() %}
	{{ var_name }} == {{ var_value }}
{% endfor %}
			</pre>#}


		<form action="" method="post" class="form" role="form">

			{{ form.hidden_tag() }}

		{% for f in form %}

			{% if f.name != 'csrf_token' and f.name != 'submit' %}
								
				{% if f.name.startswith('global.') %}
					{{ wtf.form_field(f, **{'readonly':'true'}) }}
				{% else %}
					{{ wtf.form_field(f) }}
				{% endif %}
			{% endif %}

		{% endfor %}

			{{ wtf.form_field( form.submit, button_map={'submit':'primary'} ) }}

		</form>

		{#{ wtf.quick_form(form) }#}

		</div>

		{% include "global-variables-list.html" with context %}

	</div> <!-- /.row -->

</div> <!-- /.container -->

{# https://vuejs.org/v2/guide/list.html#Basic-Usage #}

{% endblock %}

{% block scripts %}
{{super()}}

<script>
$(document).ready( function() {
});
</script>
{% endblock %}


